fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv
redis
httpx
playwright
bs4
asyncpg
minio
pydantic_settings
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pyyaml
aiohttp
pillow
psutil